.App {
  text-align: center;
  /* background-color: #58409ae0; */
}

body{
  background-color: #141515;
}

.calciBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #212529;
  /* height: 43vh; */
  padding: 10px;
}

.calciBtn{
  width: 5.5rem;
    border-radius: 10px;
  font-weight: 650;
  font-family:'Times New Roman', Times, serif;
  margin: 2px 6px;
  padding: 3px;
  box-shadow: 16px 19px 47px #41464b;
}
.result{
  display: flex;
  flex-wrap: wrap;
  background-color: #41464b;
    /* height: 31vh; */
    align-items: flex-end;
    justify-content: end;
    flex-direction: column;
    padding: 6px 14px;
    font-size: 2.2rem;
    color: white;

}
.calciWrapper{
  display: flex;
  flex-direction: column;
  width: 30rem;
  /* background-color: #58409ae0; */
  box-shadow: 20px 33px 37px #000;
  /* height: 75vh; */
  padding-right: 0.6em;
  padding-bottom: 0.6em;
}